<p class="para1">Comparez ces différentes APIs de reconnaissance faciale:</p>

<!--
<p class="para2">Choix du fichier photo: </p>
<input type="text" class="inputText" readonly="readonly"/>
<input type="file" onmousedown="return false" onkeydown="return false" class="inputFile"
       onchange="document.getElementById('input_text_file').value = this.value"/>

<p class="para3">Choix du fichier vidéo: </p>
<input type="text" class="inputText2" readonly="readonly"/>
<input type="file" onmousedown="return false" onkeydown="return false" class="inputFile2"
       onchange="document.getElementById('input_text_file').value = this.value"/>
-->

<p class="para2">Choix du fichier photo: </p>
<input type="file" class="inputText" (change)="onSelectFilePhoto($event)"> <br>

<p class="para3">Choix du fichier vidéo: </p>
<input type="file" class="inputText" (change)="onSelectFileVideo($event)"> <br>

<!--<button class="btn btn-success" (click)="ulpoadFileTo()">Upload</button>
-->



<router-outlet></router-outlet>
<a routerLink="/results"><input type="button" (click)="uploadFileTo()" routerLink="/results" name="comparer" value="Comparer" class="comparer"/></a>
