body {
  background-image: url("./assets/images/stars.png");
  overflow: auto;
  width: 100%;
  height: 100%;
  background-size: 100%;

}

.microsoft {

  top: 200em;
  left: 600em;
  width: 35%;
  height: 30%;
  object-fit: fill;
  margin: 0 15px;
}



.vs {
  top: 150em;
  left: 500em;
  width: 25%;
  height: 50%;
  object-fit: fill;
}

.amazon {
  top: 200em;
  left: 600em;
  width: 35%;
  height: 30%;
  object-fit: fill;
}

.para1 {
  color: white;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  text-decoration: overline;
  word-spacing: 8px;
  letter-spacing: 2px;
  margin: auto;
}

.para2 {
  color: silver;
  font-size: 12pt;
  font-family: arial;

}

.para3 {
  color: silver;
  font-size: 12pt;
  font-family: arial;
}

#conteneurFile .inputFile {
  opacity: 0; /* pour !IE */
  filter: alpha(opacity=0); /* pour IE */
  position: absolute;
  right:0;
  top: 0;
  width: 80%;



}

#conteneurFile .inputFile2 {
  opacity: 0; /* pour !IE */
  filter: alpha(opacity=0); /* pour IE */
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;

}

.inputText {
  border: 0px;
  padding: 0px 0px;
  background: #def;
  width: 30%;
  border-radius: 10px;
  visibility: hidden;

}



/*#conteneurFile*/
.inputText2 {
  border: 0px;
  padding: 0px 10px;
  background: #def;
  width: 40%;
  border-radius: 10px
}

.comparer {
  font: bold 12pt Arial;
  color: white;
  background-image: url("./assets/images/sang.jpg");
  cursor: pointer;
  padding: 1em 5em;
  margin: 3em 5em;
  width: 90%;
  margin-left: 5em;

  align-content: center;
  text-decoration: underline;
  border-radius: 10px;

}

.microsoftR {
  top: 100px;
  left: 300px;
  width: 300em;
  height: 140px;
  object-fit: fill;
right: auto;
}

.amazonR {
  top: 100px;
  left: 300px;
  width: 300px;
  height: 150px;
  object-fit: fill;
  left: auto;
}

.textarea1 {
  color: white;
  background-color: black;
  height: 90%;
  width: 100%;
  overflow: hidden;



}
.textarea2 {
  color: white;
  background-color: black;
  height: 90%;
  width: 95%;
  overflow: hidden;



}

.upload {
  border-color: crimson;
  border-radius: 2em;
  color: white;
  background-image:url("./assets/images/sang.jpg") ;
  width: 20%;
  height: 20%;
  cursor: pointer;
  display: inline-block;
  padding:1em 2em;
  margin:1em 2em ;
  margin-left: 15em;

}

