body {
  background-image: url("./assets/images/stars.png");
  overflow: auto;
  width: 100%;
  height: 100%;
  background-size: 100%;

}

.microsoft {


  width: 35%;
  height: 30%;
  object-fit: fill;
  margin: 0 15px;
}

.vs {

  width: 25%;
  height: 50%;
  object-fit: fill;
}

.amazon {
  top: 200em;
  left: 600em;
  width: 35%;
  height: 30%;
  object-fit: fill;
}


.textarea1 {
  color: white;
  background-color: black;
  height: 90%;
  width: 100%;
  overflow: scroll;
}

.textarea2 {
  color: white;
  background-color: black;
  height: 90%;
  width: 95%;
  overflow: scroll;
}

#div{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#para{
  color: aliceblue;
  font-family: Serif;
  font-style: oblique;
  font-size: 40px;
  display: flex;
  justify-content: center;
}


